recursive-include bash_toolkit/scripts/iot *.sh
recursive-include bash_toolkit/scripts/cybersecurity *.sh
recursive-include bash_toolkit/scripts/automation *.sh
recursive-include bash_toolkit/scripts/lib *.sh
recursive-include bash_toolkit/scripts/utils *.sh
include menu.sh
include setup.sh
